@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar thumb but keep scrolling functional */
::-webkit-scrollbar {
    width: 8px;  /* Adjust width of the scrollbar (optional) */
    height: 8px; /* Adjust height of the scrollbar (optional) */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Optional: make track transparent */
  }
  
  