@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar thumb but keep scrolling functional */
::-webkit-scrollbar {
    width: 8px;  /* Adjust width of the scrollbar (optional) */
    height: 8px; /* Adjust height of the scrollbar (optional) */
}
  
::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
    border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background: transparent; /* Optional: make track transparent */
}
.custom__steps::before{
    content: "";
    position: absolute;
    width: 1px;
    border: 1px dashed #02060c26;
    top: 0px;
    bottom: 0px;
    left: 0px;
}
.custom__steps__li::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: rgb(101, 65, 228);
    border: 2px solid rgb(240, 240, 245);
    border-radius: 50%;
    z-index: 1;
    left: -6px;
}
.bussiness-overlay::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 50%;
    background-color: #FF5200;
    border-radius: 50%;
    rotate: 345deg;
    z-index: -1;
    filter: blur(200px);
    opacity: 0.10;
}
.deliverying-overlay::after{
    position: absolute;
    content: "";
    width: 369px;
    height: 231px;
    background-color: #FF5200;
    opacity: 10%;
    transform: rotate(-11.96deg);
    left: calc(50% - 180px);
    filter: blur(100px);
    z-index: -999;
}
/* ._custom-home > div:not(:nth-child(-n+3)):not(:nth-last-child(-n+2)) {
    @apply w-[80%] mx-auto mt-[120px];
} */